.modal {
  &__window {
    position: absolute;
    margin: auto;
    left: 200px;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    width: 300px;
    padding: 20px;
    height: 350px;

    border-radius: 8px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  }

  &__input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  &__header {
    margin: auto;
  }
  &__items {
    display: flex;
    justify-content: center;
  }
  &__color {
    width: 20px;
    height: 20px;
    border: none;
    background: none;
  }
  &::webkit-color-swatch {
    border-radius: 100%;
  }
  &__item {
    margin-bottom: 20px;
  }
  &__background {
    font-size: 21px;
    letter-spacing: 4px;
    text-align: left;
  }
  &__close {
    background: green;
  }
  &__button {
    background-color: #808080;
  }
}
