.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.error {
  display: flex; /* Устанавливаем flex-контейнер */
  justify-content: center; /* Выравниваем содержимое по горизонтали по центру */
  align-items: center; /* Выравниваем содержимое по вертикали по центру */
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 5px;
  font-size: 30px;
  height: 100vh;
}

.error__message {
  text-align: center; /* Выравниваем текст по центру */
}

.progress--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.progress--bar {
  margin: auto;
  width: 120px; /* Ширина прогресс-бара */
}
.error__title {
  margin: 0;
  text-align: center;
  margin: auto;
}
